<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nisl" translate="label" sortOrder="10">
            <label>Nisl</label>
        </tab>
        <section id="override_productdetail" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Show Available Quantity</label>
            <tab>nisl</tab>
            <resource>Nisl_Overrideproductdetail::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>  
                <field id="priority_message_1" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Priority 1 Message</label>                    
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="priority_message_2" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Priority 2 Message</label>                    
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="priority_message_3" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Priority 3 Message</label>                    
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                
            </group>
        </section>
    </system>
</config>
